[submodule ".urxvt/ext/urxvt-resize-font"]
	path = .urxvt/ext/urxvt-resize-font
	url = git@github.com:simmel/urxvt-resize-font.git
[submodule ".oh-my-zsh/custom/themes/powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".oh-my-zsh/custom/plugins/zsh-diff-so-fancy"]
	path = .oh-my-zsh/custom/plugins/zsh-diff-so-fancy
	url = https://github.com/zdharma/zsh-diff-so-fancy.git
