.uuid
*.sublime-workspace
*.sublime-project
*.user-ca-bundle
*.merged-ca-bundle
*.last-run
*.cache
*.sublime_license
.config/sublime-text-3/Cache/
.config/sublime-text-3/Local
__pycache__
.config/google-chrome
