! special
*.foreground:   #b9b3b2
*.background:   #1b1918
*.cursorColor:  #b9b3b2

! black
*.color0:       #1b1918
*.color8:       #766e6b

! red
*.color1:       #f22c40
*.color9:       #f22c40

! green
*.color2:       #5ab738
*.color10:      #5ab738

! yellow
*.color3:       #d5911a
*.color11:      #d5911a

! blue
*.color4:       #407ee7
*.color12:      #407ee7

! magenta
*.color5:       #6666ea
*.color13:      #6666ea

! cyan
*.color6:       #00ad9c
*.color14:      #00ad9c

! white
*.color7:       #b9b3b2
*.color15:      #f1efee

URxvt.scrollBar: false

URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: sensible-browser
URxvt.matcher.button: 3
URxvt.underlineURLs: true

URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger

URxvt*font:xft:DejaVu\ Sans\ Mono:pixelsize=12:antialias=true,xft:DejaVu\ Sans\ Mono\ for\ Powerline:bold:pixelsize=12:antialias=true
URxvt.letterSpace: -1
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! disable urxvt iso14755 mode as it overlaps with my shift+ctrl+ hotkeys
URxvt.iso14755: false
URxvt.iso14755_52: false

Xcursor.size: 12

! stop mouse scroll when paging stuff
URxvt.secondaryScreen: true
URxvt.secondaryScroll: false

! set chars marking word boundary
URxvt*cutchars: "\\`\"'&()*,;<=>?@[]^{|}#%+!:"

URxvt.transparent:   true
URxvt.shading:       10

! match spotify uris
URxvt.matcher.pattern.1: (spotify:[a-z]+:[a-zA-Z0-9]+)
URxvt.matcher.launcher.1: dbus-send --type=method_call --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.OpenUri string:$1
